:root {
  
  line-height: 1.5;
  font-weight: 400; 

   color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  margin-left: 20px;
  
}


.headcontainer{
  margin: 10px;
}
.headcontainer img{
  height: 70px;
  margin: 10px;

}

.headcontainer .text{
  font-size: 30px ;
}

.maincontainer{
  margin: 1.3rem;
  line-height: 2.0rem;
}

.button{
 
  border: 2px solid rgb(36, 34, 34);
  width: 120px;
display: flex;
justify-content: center;
align-items: center;
gap:6px;
background-color: rgb(105, 60, 106);
color: black;

font-weight: bolder;
}


.project1{
  border: 3px solid black;
  height: 23rem;
  width: 35vw;
  background-color: #3e3e3e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}
/* root element 22px */

.uber{
  height: 2.6rem;
  border: 2px solid black;
  background-color: aliceblue;
  color: #000000;
  border-radius: 10%;
  width: 4.8rem;
 text-align: center;
 padding: 10px;
 font-size: 25px;
 font-weight: bold;



}

.ubertext{
  text-align: center;
}

.github{
  width: 10rem;
  background-color: antiquewhite;
  height: 2.2rem;
  color: #000000;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
}