:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

   color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.text{
  margin:10px 0px;
}
.text .childText{
margin: 0px;
font-size: 30px;
}
.text :nth-child(2){
  color: rgb(35, 198, 143);
  text-decoration: underline;
}

#name{
font-size: 22PX;

}

button{
  background-color: rgb(144, 255, 32);
  font-size: 15PX;
 font-weight: bolder;
 color: #0a0909;
 padding: 5px;
}